@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 35px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: #088178;
}

nav ul li a.active::after,
nav ul li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -5px;
  left: 20px;
}

nav #mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home Page */

#hero {
  background-image: url("../assets/images/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
  font-size: 30px;
}

#hero h1 {
  color: #088178;
  font-size: 80px;
  line-height: 90px;
}

#hero h2 {
  font-size: 74px;
}

#hero p {
  font-size: 25px;
}

#hero button {
  background-image: url("../assets/images/button.png");
  background-color: transparent;
  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 700;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  background-color: #fddde4;
  color: #088178;
  line-height: 1;
  border-radius: 4px;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  font-size: 12px;
  color: #606063;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des .stars i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #e8f6ea;
  border-radius: 50px;
  font-weight: 600;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  /* font-size: 16px; */
}

#banner h2 {
  color: #fff;
  /* font-size: 30px; */
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/images/banner/b17.jpg);
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box:nth-child(2) {
  background-image: url(../assets/images/banner/b10.jpg);
}

#sm-banner .banner-box h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
}

#sm-banner .banner-box h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 800;
}

#sm-banner .banner-box span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(../assets/images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box:nth-child(2) {
  background-image: url(../assets/images/banner/b4.jpg);
}
#banner3 .banner-box:nth-child(3) {
  background-image: url(../assets/images/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
}

#banner3 h3 {
  color: #fff;
  font-weight: 800;
  font-size: 22px;
  color: #ec544e;
  text-transform: capitalize;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../assets/images/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

.news-text h4 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.news-text p {
  font-size: 20px;
  font-weight: 600;
  color: #818ea0;
}

.news-text p span {
  color: #ffbd27;
}

#newsletter form {
  display: flex;
  align-items: center;
  width: 500px;
}

#newsletter form input {
  height: 3.4rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3.4rem;
  font-size: 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#to-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  color: #088178;
}

/* Start Media Query */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  nav ul.active {
    right: 0;
  }

  nav ul li {
    margin-bottom: 25px;
  }

  nav #mobile {
    display: flex;
    align-items: center;
  }

  nav #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 50px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 25px;
    color: #222;
    font-size: 20px;
  }

  #ld-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
  }

  #hero h2 {
    font-size: 50px;
  }

  #hero h1 {
    font-size: 55px;
  }

  #hero p {
    font-size: 20px;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 20px;
  }

  #banner {
    height: 20vh;
  }

  #banner h4 {
    font-size: 16px;
  }

  #banner h2 {
    font-size: 30px;
  }

  button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  #sm-banner {
    gap: 20px;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  .news-text p {
    font-size: 16px;
  }

  .news-text h4 {
    font-size: 28px;
  }
}

@media (max-width: 477px) {
  h1 {
    font-size: 38px;
    line-height: 26px;
  }

  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  .section-p1 {
    padding: 20px;
  }
  nav {
    padding: 10px 50px 10px 25px;
  }

  nav ul {
    width: 230px;
  }

  nav #mobile i {
    color: #1a1a1a;
    font-size: 22px;
    padding-left: 40px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #hero h1 {
    font-size: 38px;
    line-height: 26px;
  }

  #hero h2 {
    font-size: 32px;
  }

  #hero h4 {
    font-size: 24px;
  }

  #hero p {
    font-size: 17px;
    margin-top: 25px;
  }

  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
    text-align: start;
  }

  #sm-banner .banner-box h2 {
    font-size: 28px;
  }

  #sm-banner .banner-box:nth-child(2) h2 {
    margin-top: 20px;
    line-height: normal;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
    text-align: start;
  }

  #banner3 h2 {
    font-size: 24px;
    line-height: 50px;
  }

  #banner3 h3 {
    font-size: 18px;
  }

  #newsletter {
    padding: 40px 20px;
  }

  .news-text h4 {
    font-size: 25px;
  }

  footer .copyright {
    text-align: start;
  }
}
